/* 共通style */
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  box-shadow: 3px 3px 6px -2px #555;
  background-color: #000;
  opacity: 0.9;
}

.header__home a {
  font-size: 20px;
  color: #fff;
}

.topBox__name span {
  opacity: 0;
}

.topBox__name {
  opacity: 0;
}

/* pcStyle */
@media screen and (min-width: 768px) {
  .spHeader {
    display: none;
  }

  .pcHeader {
    height: 70px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
  }

  .pcHeaderList {
    display: flex;
  }

  .pcHeaderList__item {
    margin-right: 30px;
  }

  .pcHeaderList__item a {
    font-size: 20px;
    color: #fff;
    transition: all 2s;
    display: inline-block;
  }

  .pcHeaderList__link:hover {
    transform: rotateX(360deg);
  }

  .topBox {display: flex;
    justify-content: center;
    padding: 260px 0 300px;
  }

  .topBox__name {
    font-size: 84px;
    font-weight: bold;
  }

  .topBox__name--last {
    display: inline-block;
    margin-left: 30px;
  }
}

/* spStyle */
@media screen and (max-width: 767px) {
  .pcHeader {
    display: none;
  }

  .header__home a {
    font-size: 18px;
  }

  .spHeader {
    height: 70px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
  }

  .spHeader__btn {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .spHeader__btn span,
  .spHeader__btn span:before,
  .spHeader__btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: #fff;
      position: absolute;
  }

  .spHeader__btn span:before {
      bottom: 8px;
  }

  .spHeader__btn span:after {
      top: 8px;
  }

  #spHeader__btn-check:checked ~ .spHeader__btn span {
    background-color: rgba(255, 255, 255, 0);
  }

  #spHeader__btn-check:checked ~ .spHeader__btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #spHeader__btn-check:checked ~ .spHeader__btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #spHeader__btn-check {
    display: none;
  }

  .spHeader__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #444;
    transition: all 0.5s;
  }

  .spHeader__nav ul {
    padding: 70px 10px 0;
  }

  .spHeader__nav ul li {
    border-bottom: dotted 2px #ffffff;
    list-style: none;
  }

  .spHeader__nav ul li a {
    display: block;
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 20px 15px 20px 0;
    position: relative;
  }

  .spHeader__nav ul li:nth-of-type(1) a::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    right: 11px;
    top: 15px;
    background-image: url("../images/skill.png");
    background-size: cover;
  }

  .spHeader__nav ul li:nth-of-type(2) a::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    right: 11px;
    top: 15px;
    background-image: url("../images/works.png");
    background-size: cover;
  }

  .spHeader__nav ul li:nth-of-type(3) a::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    right: 11px;
    top: 15px;
    background-image: url("../images/mail.png");
    background-size: cover;
  }

  #spHeader__btn-check:checked ~ .spHeader__nav {
    left: 0;
  }

  .topBox {
    padding: 32vw 0 42vw;
    text-align: center;
  }

  .topBox__name {
    font-size: 13vw;
    font-weight: bold;
  }
}