body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.contentsBox {
  margin-bottom: 60px;
}

* {
  font-family: 'M PLUS 1p', sans-serif;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}