.skillList__item {
  width: 27%;
  height: 22vw;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  padding: 15px;
}

/* pcStyle */
@media screen and (min-width: 768px) {
  .skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px;
  }

  .skillList__item {
    display: flex;
    align-items: center;
    margin: 0 2px 40px;
  }

  .skillList__item:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    transition : 0.5s;
    cursor: auto;
  }

  .skillList__title {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .skillList__text {
    font-size: 16px;
    line-height: 1.2;
  }
}

/* SPstyle */
@media screen and (max-width: 767px) {
  .skillList__item {
    width: 60vw;
    height: 60vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto 20px;
  }

  .skillList__itemBox {
    line-height: 2;
  }

  .skillList__title {
    width: 100%;
    font-size: 5vw;
  }

  .skillList__text {
    font-size: 4vw;
  }
}