/* 共通style */
.topBox__name span {
  opacity: 0;
  background-image: url("../images/meisai.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  color: #00000000;
}

.topBox__name {
  opacity: 0;
  display: inline-block;
}

/* pcStyle */
@media screen and (min-width: 768px) {
  .topBox {
    display: flex;
    justify-content: center;
    padding: 345px 0 345px;
  }

  .topBox__name {
    font-size: 84px;
    font-weight: bold;
  }

  .topBox__name--last {
    display: inline-block;
    margin-left: 30px;
  }
}

/* spStyle */
@media screen and (max-width: 767px) {
  .topBox {
    padding: 300px 0;
    text-align: center;
  }

  .topBox__name {
    font-size: 11vw;
    font-weight: bold;
  }

  .brackets {
    font-size: 11vw;
  }
}